body {
  background: linear-gradient(
    160deg,
    rgb(244, 237, 172) 22.8%,
    rgb(160, 236, 208) 50.3%,
    rgb(133, 214, 234) 75.5%
  );
  height: 915px;
  color: #394043 !important;
}

h2 {
  padding: 25px;
  text-align: center;
}
footer {
  text-align: center;
}
footer a {
  color: #394043 !important;
  text-decoration: none !important;
  font-weight: 700;
}
footer a:hover {
  text-decoration: underline !important;
}
