body {
  background-image: url("../public/starry-sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ecf4f7 !important;
  font-family: "Miriam Libre", sans-serif !important;
}

footer {
  margin-top: 20px;
  text-align: center;
}
footer a {
  color: #ecf4f7 !important;
  text-decoration: none !important;
  font-weight: 700;
}
footer a:hover {
  text-decoration: underline !important;
}

@media (max-width: 430px) {
  footer {
    font-size: 11px;
  }
}
