.Container {
  text-align: center;
  background-color: rgb(83, 52, 83);
  height: 500px;
  margin: 30px;
  border-radius: 30px;
  color: white;
}

ul {
  list-style-type: none;
}
footer {
  text-align: center;
}
a {
  color: rgb(83, 52, 83) !important;
  text-decoration: none !important;
}
a:hover {
  font-weight: 600;
}
