.WeatherForecast {
  color: #fed8d7;
  margin: 10px 20px 10px 20px;
  padding: 10px;
  border: 2px solid #f3f2fa28;
  border-radius: 5px;
}
.Forecast-Day {
  font-size: 22px;
  padding-bottom: 5px;
}
.Forecast-Temp-High {
  font-size: 18px;
  margin: 4px;
  font-weight: 600;
  color: #e69d8b;
}
.Forecast-Temp-Low {
  font-size: 18px;
  margin: 4px;
  color: #f3f2faa3;
}
