.WeatherForecast {
  color: #394043;
  margin: 10px 20px 10px 20px;
  padding: 10px;
  border: 2px solid rgb(48 30 48 / 13%);
  border-radius: 5px;
}
.Forecast-Day {
  font-size: 22px;
  padding-bottom: 5px;
}
.Forecast-Temp-High {
  font-size: 18px;
  margin: 4px;
  font-weight: 600;
  color: rgb(119 18 69);
}
.Forecast-Temp-Low {
  font-size: 18px;
  margin: 4px;
}
