.Weather {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 0 10px 0;
  background-color: rgb(52 41 47 / 75%);
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
}
.search-form {
  margin: 10px;
}
.search-field,
.search-button {
  border: none;
  border-radius: 23px;
  padding: 10px 15px 10px 15px;
  margin: 5px;
}
.search-field {
  background-color: #f3f2fa;
}

.search-button {
  background-color: rgb(52 41 47);
  color: #f3f2fa;
}
h1 {
  padding: 10px;
  font-size: 45px !important;
  text-shadow: 3px 2px 2px rgb(53 42 48);
}
h3 {
  padding-bottom: 15px;
}
ul {
  margin: 15px;
  list-style-type: none;
  padding-left: 20px;
}
li {
  font-size: 20px;
  text-align: left;
}
.temperature {
  font-size: 60px;
  font-weight: 600;
  text-shadow: 3px 2px 2px rgb(53 42 48);
}
.icon {
  position: relative;
  top: -10px;
  margin: 10px;
}
.unit {
  font-size: 22px;
  position: relative;
  top: -26px;
  margin-left: 5px;
  font-weight: 700;
}
.unit a {
  color: #f3f2fa;
  text-decoration: none;
  font-weight: lighter;
}
.WeatherInfo .current-grid {
  display: flex;
  justify-content: center;
}
@media (max-width: 431px) {
  .WeatherInfo .current-grid {
    display: grid !important;
    grid-template-columns: 1fr;
    width: 350px;
  }
  .WeatherInfo li {
    text-align: center;
  }
}
